////
// cccs
//
html {
	font-size: $font-size-base;
}

:root {
    --color-primary: #013347;
    --color-primary-hover: #012b3b;
    --color-secondary: theme('colors.indigo.600');
    --color-secondary-hover: theme('colors.indigo.700');
}

.theme-light {
    --color-background: theme('colors.gray.100');
    --color-background-secondary: theme('colors.gray.200');

    --color-text-header: theme('colors.gray.900');
    --color-text-header-secondary: theme('colors.gray.800');
    --color-text-body: theme('colors.gray.900');
    --color-text-body-secondary: theme('colors.gray.600');
}

.theme-dark {
    --color-background: theme('colors.gray.700');
    --color-background-secondary: theme('colors.gray.800');

    --color-text-header: theme('colors.gray.100');
    --color-text-header-secondary: theme('colors.gray.300');
    --color-text-body: theme('colors.gray.300');
    --color-text-body-secondary: theme('colors.gray.500');
}
