// Body background
$body-bg: #fff;

// Footer height
$footer-height: 17em;

////
// Typography
// 1. Assumes the browser default, typically `16px`
//
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 15px; // 1